body {
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgb(201, 210, 250);
}
h1 {
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
}

p {
  font-family: Verdana, Geneva, sans-serif;
  /* This next line gives us some extra spacing within a paragraph*/
  line-height: 1.4;
  text-align: center;
}
