h1 {
    padding-top: 1em;
    padding-bottom: 1em;
   /* background-color: rgb(63, 18, 188); */
    background-image: url("photos/stars.jpg");
    color: white;
    text-align: center;
}

nav ul {
    border: 2px solid rgb(0, 0, 94);
    list-style-type: none;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    height: 50px;
}

/* Navigation bar list items should render starting at the left margin. */
nav li {
    float: left;
}

/* Navigation bar items should link to elements on the page, or to other pages.
     This is the "a" tag. So this says "apply this style to links within the nav bar".
*/
nav li a {
    display: block;
    color: rgb(0, 0, 94);
    text-decoration: none;
    text-align: center;
    padding: 14px 16px 17.5px;
}

/* When you mouse over something in the nav bar, turn it blue. */
nav li a:hover {
    color: white;
    background-color: rgb(0, 0, 94);
}

nav li form {
    float: right;
    display: flex;
    padding-right: 0;
    padding-bottom: 0;
    padding: 15px;
}

nav li form label {
    color: rgb(0, 0, 94);
    padding-right: 20px;
    height: 7px;
    width: 250px;
    display: inline-block;
}

nav li form input[type=text] {
    padding: 10px;
    padding-left: 10px;
    padding-right: .5em;
    width: 60%;
    height: 7px;
    display: inline-block;
    border-style: solid;
}

nav li form input[type=submit] {
    width: 25%;
    height: 24px;
    display:inline-block;
    color: white;
    background-color: rgb(0, 0, 94);
    border-style: hidden;
}

body {
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(201, 210, 250);
}

img {
    float: left;
    width: 35%;
}


div.examples {
    background-color: azure;
    width: 650px;
    border: 2px solid rgb(0, 0, 94);
    float: right;
    padding: 10px;
    margin: 10px;
}

/* This means "apply this style to h1 and h2 tags" */
h1, h2, h3 {
    font-family: Verdana, Geneva, sans-serif; 
    text-align: center;
 }
 
 p {
     font-family: Verdana, Geneva, sans-serif;
     /* This next line gives us some extra spacing within a paragraph*/
     line-height: 1.4;
 }
 
 li {
     font-family: Verdana, Geneva, sans-serif;
     line-height: 1.4;
 }
 
 nav li {
     float: left;
     font-size: 1.1em;
     font-weight: bold;
 }
