h1 {
  padding-top: 1em;
  padding-bottom: 1em;
  background-image: url("photos/stars.jpg");
  color: white;
  text-align: center;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  height: 45px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(0, 0, 94);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.topnav-right {
  float: right;
}
/* Styles for the search bar container */
.search_bar {
  padding: 1px;
  border-radius: 1px;
  width: 400px;
  margin: 0 auto;
  text-align: right;
}

/* Styles for the form and its contents */
.search_bar form {
  display: flex;
  padding-top: 10px;
}

/* Styles for the label */
.search_bar label {
  color: white;
  padding: 3px 5px;
  padding-left: 0px;
  height: 5px;
  width: 500px;
  display: inline-block;
  text-align: center;
}

/* Styles for the input field */
.search_bar input[type="text"] {
  width: 200%;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Styles for the submit button */
.search_bar input[type="submit"] {
  background-color: rgb(0, 0, 94);
  color: white;
  border: none;
  border-radius: 1px;
  padding: 3px 18px;
  cursor: pointer;
  text-align: center;
}

/* Styles for the autocomplete dropdown (assuming it has a class) */
.ui-autocomplete {
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
}

body {
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgb(201, 210, 250);
}

p {
  font-family: Verdana, Geneva, sans-serif;
  /* This next line gives us some extra spacing within a paragraph*/
  line-height: 1.4;
}

li {
  list-style-type: none;
  font-family: Verdana, Geneva, sans-serif;
  line-height: 1.75;
}

div.leftColumn{
  padding-top: 10px;
  display: flex;
  float: left;
  width: 45%;
}

div.leftColumn div.goldilocks_info {
  display: block;
  position: absolute;
  background-color: white;
  border-color: rgb(0, 0, 94);
  text-align: center;
  width: 45%;
  height: 100px;
  padding: 5px;
}

div.leftcolumn img {
  padding-top: 125px;
  position: absolute;
  display: block;
  width: 45.7%;
}

div.rightColumn {
  float: right;
  display: flex;
  width: 45%;
}

div.rightColumn div.planet_info {
  position: absolute;
  list-style-type: none;
  display: flex;
  width: 300px;
  float: right;
  padding-left: 5%;
  padding-top: 10px;
}

div.rightColumn div.randomize_button {
  position: absolute;
  text-align: center;
  padding-left: 15%;
  padding-top: 450px;
  float: right;
}

div.rightColumn .button {
  position: absolute;
  background-color: rgb(0, 0, 94);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  font-family: "Arial", sans-serif;
}

/* This means "apply this style to h1 and h2 tags" */
h1,
h2 {
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
}

p {
  font-family: Verdana, Geneva, sans-serif;
  /* This next line gives us some extra spacing within a paragraph*/
  line-height: 1.4;
}

li {
  font-family: Verdana, Geneva, sans-serif;
  line-height: 1.4;
}

nav li {
  float: left;
  font-size: 1.1em;
  font-weight: bold;
}
