<html>
  <head>
    <!--Autocomplete scripts here and below obtained from https://www.geeksforgeeks.org/autocomplete-input-suggestion-using-python-and-flask/-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
    <link
      href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
      rel="stylesheet"
      type="text/css"
    />
    <title>{{title}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>

    <link
      href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
      rel="stylesheet"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='500_style.css') }}"
    />
  </head>

  <body>
    <h1>Error 404</h1>

    <div class="navbar">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/learn">Learn</a>
      <div class="dropdown">
        <button class="dropbtn">
          Planets
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/available_planets">Available Planets</a>
          <a href="/habitable_planets">Habitable Planets</a>
          <a href="/random_planet">Random Planet</a>
        </div>
      </div>

      <div class="topnav-right">
        <div class="search_bar">
          <form action="planet_info" method="post">
            <label>Find Planet Info</label>
            <input
              type="text"
              for="Find Planet Info"
              id="planet_info"
              name="planet_name"
              placeholder="Planet Name"
            />
            <script>
              $(function() {
                var availableTags = [
                  {% for planet in planet_list %}
                  "{{planet}}",
                  {% endfor %}
                ];
                $("#planet_info").autocomplete({
                  source: availableTags
                });
              });
            </script>
            <input type="submit" value="Search" />
          </form>
        </div>
      </div>
    </div>
  <body>
    <h2>You're far out in space, buddy!</h2> 

    <p>
        The url you requested could not be found. 
        Please retype it using one of the following formats, replacing quoted items with 
        the planet you'd like to learn about:
    </p>

    <ul>
        <li>/planet_info/"Planet Name"</li>
        <li>/check_goldilocks/"Planet Name"</li>
    </ul>
    <a href ="/">Return to home page</a>
  </body>
</html>
