<html>
     <head>
        <title>{uh-oh}</title>
        <h1>You're far out in space, buddy!</h1>


     </head>
     <body>
        <p>
            The url you requested could not be found. 
            Please retype it using one of the following formats, replacing quoted items with 
            the planet you'd like to learn about:
        </p>

        <p>
            <ul>
                <li>/planet_info/"Planet Name"</li>
                <li>/check_goldilocks/"Planet Name"</li>
            </ul>
        </p>
     </body>
 </html>