<html>
    <head>
        <title>{uh-oh}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='aboutstyle.css') }}">
        

    </head>
    <body>
        <div class="navbar">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/learn">Learn</a>    
        </div>
        
        <h1>You're far out in space, buddy!</h1> 

        <p>
            The url you requested could not be found. 
            Please retype it using one of the following formats, replacing quoted items with 
            the planet you'd like to learn about:
        </p>

        <ul>
            <li>/planet_info/"Planet Name"</li>
            <li>/check_goldilocks/"Planet Name"</li>
        </ul>
        <a href ="/">Return to home page</a>
    </body>
</html>