<html>
     <head>
            <!--Autocomplete scripts here and below obtained from https://www.geeksforgeeks.org/autocomplete-input-suggestion-using-python-and-flask/-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"> </script>   
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"> </script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
                rel="stylesheet" type="text/css" />
        <title>{{title}}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">   
        </script>   
        
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">   
        </script>   
        
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
            rel="stylesheet" type="text/css" />   

        
        <link rel="stylesheet" href="{{ url_for('static', filename='habitable_planets_style.css') }}">
    </head>
    <body>
        <h1>Available Planets</h1>

        <nav>
            <ul class="navigation">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/learn">Learn</a></li>
                <li><a href="/available_planets">Available Planets</a></li>
                <li><a href="/habitable_planets">Habitable Planets</a></li>
                <li><a href="/random_planet">Random Planet</a></li>
                <li class="search_bar"> <form action="planet_info" method="post">
                    <label>Find Planet Info</label>
                    <input type="text" for="Find Planet Info" id="planet_info" name="planet_name" placeholder="Planet Name">
                        <script> 
                        $( function() { 
                            var availableTags = [ 
                                {% for planet in planet_list %} 
                                    "{{planet}}", 
                                {% endfor %} 
                            ];
                        $( "#planet_info" ).autocomplete({ 
                          source: availableTags 
                        }); 
                        } ); 
                      </script> 
                    <input type="submit" value="Search"></input>
                    </form>
                </li>
              </ul>
            </nav>
    </body>