<html>
     <head>
        <title>{{title}}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">   
        </script>   
        
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">   
        </script>   
        
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
            rel="stylesheet" type="text/css" />   

        
        <h1>Exoplanets!</h1>
        <link rel="stylesheet" href="{{ url_for('static', filename='homepagestyle.css') }}">


        <nav>
        <ul class="navigation">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/random_planet">Learn</a></li>
            <li><a href="/random_planet">Random Planet</a></li>
            <li class="search_bar"> <form action = "planet_info" method="post">
                <label for="Search">Search Planets: </label>
                <input type="text" id ="Search" name ="Search">
                <input type="submit" value = "Go!">
            </form> 
            </li>
          </ul>
        </nav>

     </head>
     <body>
        <h2> </h2>
        <p>
            Welcome to the Exoplanet Info Getter! Search a planet to learn more about it or 
            click through our other pages to explore the wonderful world (or worlds :) of exoplanets.
            <b>(Note to grader: the only planet in my hard-coded data is "ups And d")</b>.  
        </p>

        <img src={{ url_for('static', filename='photos/exoplanet_with_rings.jpg') }} alt="Computer rendering of a blue exoplanet with rings" />

        <div class="examples">
        <h3>
            What are exoplanets?
        </h3>
        <p>
        An exoplanet is a planet that is not in our solar system. 
        To this date, NASA has confirmed the existance of 5,528 exoplanets,
        with more being discovered daily. Our website contains information 
        about almost all of these, so explore to your heart's content.

        </p>
        </div>
        <div class="examples">
            <h3>
                Why should I care about exoplanets?
            </h3>
            <p>
            In addition to being cool, scientists study exoplanets to look for 
            ones that could support life, either to find extraterrestrials or a 
            future home for us. Potentially habitable planets reside within their star'
            "Goldilocks Zone."
            </p>
            </div>
            <div class="examples">
                <h3>
                    The Goldilocks Zone
                </h3>
                <p>
                    Life, as we know it, requires liquid water. And for water on a planet to
                    remain liquid, that planet has to reside within a certain distance from the star
                    it's orbiting. If it's too close, all water on it boils. If it's too far, 
                    all water freezes. Thus, the distance has to be just right- and that's 
                    why scientists have dubbed the range of such distances the "Goldilocks Zone."
                </p>
                </div>
                <div class="examples">
                    <h3>
                        Calculating the Goldilocks Zone
                    </h3>
                    <p>
                        Scientists disagree on the size of the Goldilocks Zone, even 
                        for our own solar system. Thus, many ways of calculating whether a planet
                        is in it have emerged. Our website uses the Solar Equivalent AU equation.
                    </p>
                    </div>

     </body>
 </html>