<html>
     <head>
        <title>{{title}}</title>
        <h1>Exoplanet Info Getter</h1>


     </head>
     <body>
        <p>
            Welcome to the Exoplanet Info Getter! Here are our avaliable features: 
        </p>
        <p>
            <ul>
                <li>/planet_info/"Planet Name"</li>
                <ul>
                    <li>Gets info about the chosen planet</li>
                </ul> 
                <li>/check_goldilocks/"Planet Name"</li>
                <ul>
                    <li>Checks if the chosen planet is in the Goldilocks Zone (i.e. potentially habitable!) </li>
                </ul>
            </ul>  
        </p>
        <p>
            Type the name of the planet you'd like to learn about in place of "Planet Name". 
            Use underscores in place of spaces. Capitalization matters.  
        </p>
        <p>
            Example: To get info about the planet "14 Her b", add /planet_info/14_Her_b to the end of the url.
        </p>
        <p>
            Here are some fun planets you can try:
        </p>
        <ul>
            <li>ups_And_d</li>
            <li>Kepler-85_b</li>
            <li>K2-375_b</li>
            <li>COCONUTS-2_b</li>
            <li>24_Sex_c</li>
        </ul>

     </body>
 </html>